:root {
  --black: #333;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 1200px) {
  section {
    width: 90vw;
  }
}
@media screen and (min-width: 1201px) {
  section {
    width: 30vw;
    min-width: 500px;
  }
}
section {
  border-top: 1px solid lightgray;
  margin-bottom: 20px;
}

body {
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Quicksand, sans-serif;
  color: var(--black);
  background-color: rgb(255, 252, 250);
}
menu {
  display: inline-block;
  text-align: center;
  position: fixed;
  background: inherit;
  margin: 0;
  padding: 1em 0;
  z-index: 1;
  width: 100%;
}

a,
a:hover,
a:visited {
  text-decoration: underline;
  color: var(--black);
}

menu li {
  display: inline-block;
  font-family: Tangerine, serif;
  font-weight: 200;
  font-size: 1.5em;
  padding: 0 20px;
}

h1 {
  font-family: Tangerine, serif;
  font-weight: 200;
  font-size: 3em;
  margin-top: 70px;
  margin-bottom: 5px;
}

h2 {
  margin: 20px 0;
  font-family: Tangerine, serif;
  font-weight: 200;
  font-size: 2em;
}

input,
textarea {
  padding: 10px;
  margin: 5px 0;
}
input::placeholder {
  color: var(--black);
  opacity: 85%;
}

button {
  padding: 10px;
  margin: 5px 0;
}

iframe {
  width: 90%;
  height: 40vh;
  margin-top: 10px;
}

#food > div {
  padding: 5px 10px;
  border-left: 1px solid lightgray;
}

#location .transport {
  margin-top: 10px;
}
#location .material-symbols-outlined {
  margin-top: 10px;
  display: inline;
}
p {
  margin: 5px 0;
  display: inline;
}

#hotels div {
  padding: 5px 0;
}
